<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="goliath">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import goliath urdf file -->
    <xacro:include filename="$(find goliath_controller)/urdf/goliath.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="goliath.ros2_control.xacro" />


    <!-- <xacro:goliath_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
